*, *::before, *::after {
    margin: 0;
    padding: 0;
    outline: 0;
    color: #dadce8;
    font-size: 17px;
    font-family: "Helvetica", "Arial", "sans-serif";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body{
    background-color: #131316;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 3vh
}

a{
    text-decoration: none;
}

#divInputs{
    overflow: auto;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: #1c1c21;
    height: 85vh;
    width: 35vw;
    padding:2vw;
}

#divOutputs{
    background-color: #1c1c21;
    height: 80vh;
    width: 48vw;
    padding:2vw;
}

#formInputs{
    display:grid;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    align-content: space-around;
    justify-content: space-around;
    gap: 15% 5%;
    margin-bottom: 10%;
}

@media only screen and (max-width: 768px) {
    body{
        flex-direction: column;
    }
    #enunciado{
        margin-bottom: 5vh;
    }
    #divInputs{
        width: 90vw;
        height: fit-content;
        margin-bottom: 5%;
        align-content: space-around;
    } 
    #formInputs{
        gap: 7% 5%
    }
    #divOutputs{
        margin-top: 1vh;
        margin-bottom: 3vh;
        width: 90vw;
    }
}

#titulo{
    font-size: 22px;
    font-weight: bold;
}

#enunciado {
    text-align: justify;
    margin-bottom: 7%;
}



.button{
    background-color: #26262C;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 10%;
    border-radius: 3%;
    cursor: pointer;
    user-select: none;
}

.input{
    background-color:#26262C;
    border-radius: 3%;
    font-size: 16px;
    height:80%;
    border: 0;
    padding-left: 2%;
}

#pageBDiv{
    display:flex;
    flex-direction: row;
    width:100%;
    height:5vh;
    margin-top:5vh;
    justify-content: center;
    flex-grow: 1;
    align-items: flex-end;
}

#pageBDiv > .button {
    height:5vh;
}

#pageBDiv > .button:first-child {
    margin-right: 3vh;
}


textarea{
    width: 100%;
    height: 95%;
    background-color: #26262C;
    resize: none;
    border: 0;
}